{% extends 'logged_in_base.html' %}

{% block header %}
  <h1>{% block title %}SongHub, the best Hub on the internet.{% endblock %}</h1>
{% endblock %}



{% block content %}

<div class="jumbotron">
  <div class="container">
      {% if g.user['FirstName'] %}
        <h2>Hello {{g.user['FirstName']}}!</h2>
      {% else %}
        <h2>Please login.</h2>
      {% endif %}

      {% if g.user['SongOfWeek'] %}
        <h4>Your song of the week is "{{g.user['SongOfWeek']}}"</h4>
      {% else %}
        <h4>You haven't assigned a Song of the Week yet!</h4>
      {% endif %}
  </div>
  </div>


<br>

<div class ="container">
  <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"> Your Friends </div>

      <!-- Table -->
      <table class="table">
          <th> First Name </th>
          <th> Last Name </th>
          {% for item in data %}
          <tr>
              <td> {{ item["FirstName"] }} </td>
              <td> {{ item["LastName"] }} </td>
          </tr>
          {% endfor %}

      </table>
  </div>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
<div class="container">
    {% if messages %}
      <div class="alert alert-danger" role="alert">
        <b>Uh oh!</b> You don't have access to that group!
      </div>
    {% endif %}
</div>
{% endwith %}

{% endblock %}
