{% extends 'bootstrap/base.html' %}
{% block title %}
    {% if title %}{{ title }} - SongHub{% else %}Welcome to SongHub{% endif %}
{% endblock %}
{% block styles %}
{{super()}}
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-default">
  <a class="navbar-brand" href="/">SongHub</a>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
      <li><a href="{{ url_for('auth.deleteAccount') }}">Delete Account</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
      <li><a href="{{ url_for('auth.deleteAccount') }}">Delete Account</a>
    {% endif %}
  </ul>
  </div>
</nav>
{% endblock %}
{% block content %}
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  
</section>
{% endblock %}